<div class="modal-load modal-load-fix">
    <div class="ar-container">
        <div class="item-swip cssload-piano">
            <div class="cssload-rect1"></div>
            <div class="cssload-rect2"></div>
            <div class="cssload-rect3"></div>
        </div>
    </div>
</div>

<div id="modal-full-screen" class="modal fade modal-fullscreen force-fullscreen"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="ar-container-photo-swipe">
          <div class="item-photo-swip cssload-piano">
            <div class="cssload-rect1"></div>
            <div class="cssload-rect2"></div>
            <div class="cssload-rect3"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <span title="{% trans %}wall.photoSwipe_close{% endtrans %}" class="ar-button fa fa-times pswp__button--close"></span>
                
                <a title="{% trans %}wall.photoSwipe_download{% endtrans %}" id="cmd-download-image" download="" target="_blank" class="ar-button" href="">
                   <span  class="fa fa-download"></span> 
                </a>
                
                <a title="{% trans %}wall.photoSwipe_edit{% endtrans %}" id="cmd-edit-image" class="ar-button" href="">
                   <span  class="fa fa-pencil"></span> 
                </a>
               
                <button class="pswp__button pswp__button--fs" title="{% trans %}wall.photoSwipe_toggle_fullscreen{% endtrans %}"></button>

                <button class="pswp__button pswp__button--zoom" title="{% trans %}wall.photoSwipe_zoom_in_out{% endtrans %}"></button>

                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="{% trans %}wall.photoSwipe_previous{% endtrans %}"></button>

            <button class="pswp__button pswp__button--arrow--right" title="{% trans %}wall.photoSwipe_next{% endtrans %}"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>