{% extends '::frontend.html.twig' %}

{% block title %}{% trans %}Change password{% endtrans %}{% endblock %}

{% block container %}

<form action="{{ path('user_reset_password') ~ '?code=' ~ code }}" method="post">

    <label>{% trans %}New password{% endtrans %}</label>
    {{ form_widget(reset_password_form.password.first) }}                 

    <label>{% trans %}Repeat the new password{% endtrans %}</label>
    {{ form_widget(reset_password_form.password.second) }}          
                    
    <input type="submit" class="button" value="{% trans %}Change password{% endtrans %}">  

    {{ form_rest(reset_password_form) }}      

</form>

{% endblock %}