parameters:
    websocket_method: ws
    websocket_host: 127.0.0.1
    websocket_port: 8025
    gos_server_host: 127.0.0.1
    gos_server_port: 8025
    sessionname: raf6
    pagename: Raf6
    pagedomain: raf6.com
    cloud_convert_api: cloud_convert_api
    twitter_client_id: twitter_client_id
    twitter_client_secret: twitter_client_secret
    facebook_client_id: facebook_client_id
    facebook_client_secret: facebook_client_secret
    linkedin_client_id: linkedin_client_id
    linkedin_client_secret: linkedin_client_secret
    max_file_size: 7
    max_users_limit: 5
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: 3306
    database_name: database_name
    database_user: database_user
    database_password: database_password
    mailer_transport: smtp
    mailer_host: mailer_host
    mailer_user: mailer_user
    mailer_password: mailer_password
    mailer_port: 587
    locale: es
    secret: secret
    user_admin: user_admin
    user_password: user_password
    notifications_email: notifications_email
    contact_email: contact_email
    backup_path: /mnt/efs
    #Binaries paths
    node_bin_path: /usr/bin/node
    node_lib_paths: [/usr/local/lib/node_modules]
    uglify_js_path: /usr/local/bin/uglifyjs
    uglify_css_path: /usr/local/bin/uglifycss
    ruby_path: /usr/bin/ruby
    sass_path: /usr/bin/sass
